# 项目依赖包
# 自动生成于2025-11-03
运行pip install -r requirements.txt

# 基础依赖
certifi==2025.8.3
chardet==5.2.0
charset-normalizer==3.4.3
colorama==0.4.6
filelock==3.19.1
idna==3.10
importlib_metadata==8.7.0
importlib_resources==6.5.2
Jinja2==3.1.6
jsonpatch==1.33
jsonpointer==3.0.0
packaging==25.0
python-dateutil==2.9.0.post0
six==1.17.0
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
zipp==3.23.0

# 数据处理
numpy==1.26.4
pandas==2.3.3
scipy==1.13.1

# 机器学习和深度学习
torch==2.0.1+cu117
torchaudio==2.0.2+cu117
torchvision==0.15.2+cu117

# 图数据处理
networkx==3.2.1

# 可视化
matplotlib==3.9.4
visdom==0.2.4

# 强化学习
gym==0.26.2
gym-notices==0.1.0
gymnasium==0.29.1
Farama-Notifications==0.0.4

# 工具库
cloudpickle==3.1.1
contourpy==1.3.0
cycler==0.12.1
fonttools==4.60.0
fsspec==2025.9.0
kiwisolver==1.4.7
lxml==6.0.2
MarkupSafe==3.0.2
mpmath==1.3.0
pyparsing==3.2.5
pytz==2025.2
tornado==6.5.2
tqdm==4.67.1

# 数学和符号计算
sympy==1.14.0

